<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class = "col-10 offset-1">
    <h1>About Splurty</h1>

    <p>
      Splurty was built by <a target = "_blank" href="https://github.com/kwin555">Kevin. </a> This was his first web application. 
    </p>
    <br />

    <p>
      Kevin began his journey programming in his undergraduate program at Texas A&amp;M. Where he learned all about functions, if statements and for loops for Numerical Analysis for the use case of modeling.
    </p>
    
    <p>
      If you want to learn more about his journey programming - <a target="_blank" href="https://medium.com/@kevinnguyen_26044"> visit his Medium.</a>
    </p>
  
  <div class="row">
    <div class = "col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class = "col-12 col-sm 7 offset-sm-1">
      <h2 class = "text-center">Kevin Nguyen</h2>
      <br />
      <p>
        Kevin Nguyen is a web developer and a former chemical engineer. He has experience in making web apps and calculating reaction rates.
      </p>
    </div>
  </div>
  <br class="clear" />
  
  </div>
</body>
</html>